$tile-height: 50px;
$top-content-padding: 1rem;
$content-padding: 1vmax;
$jar1-color:lightblue;
$jar2-color:lightgoldenrodyellow;
$borderSize: 1px;


body {
    min-height:100%;
}
 
//** Utilities classes  **//

.snp-full-width{
    width:100%;
}

.snp-full-height{
    height:100%;
}

.snp-content-padding{
    padding:$content-padding;
}

.snp-content-top-padding{
    padding-top:$top-content-padding;
}

.snp-right-shadow{
     box-shadow: 3px 0 3px -3px #888;
}

.snp-flex{
    flex-wrap:wrap;
    min-height:2*$tile-height;
    align-items:center;
    display:flex;
}


.snp-jars{
    display:inline-flex;
    min-height:2*$tile-height;
    flex-flow:column;
}

.snp-jar{
    box-sizing:border-box;
    display:flex;
    height:$tile-height;
    width:$tile-height;
    align-items:center;
    justify-content:center;
}

.snp-jar-1{
    background:$jar1-color;
}

.snp-jar-2{
    background:$jar2-color;
}

.snp-bottom-border{
    border-bottom:$borderSize solid #808080;
}

.snp-thick-borders{
     border:2*$borderSize solid #808080;
}

.snp-border-right{
    border-right:$borderSize solid #808080;
    &:last-child{
        border-right:none;
    }
}