body {
  min-height: 100%;
}

.snp-full-width {
  width: 100%;
}

.snp-full-height {
  height: 100%;
}

.snp-content-padding {
  padding: 1vmax;
}

.snp-content-top-padding {
  padding-top: 1rem;
}

.snp-right-shadow {
  box-shadow: 3px 0 3px -3px #888;
}

.snp-flex {
  flex-wrap: wrap;
  min-height: 100px;
  align-items: center;
  display: flex;
}

.snp-jars {
  display: inline-flex;
  min-height: 100px;
  flex-flow: column;
}

.snp-jar {
  box-sizing: border-box;
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
}

.snp-jar-1 {
  background: lightblue;
}

.snp-jar-2 {
  background: lightgoldenrodyellow;
}

.snp-bottom-border {
  border-bottom: 1px solid #808080;
}

.snp-thick-borders {
  border: 2px solid #808080;
}

.snp-border-right {
  border-right: 1px solid #808080;
}

.snp-border-right:last-child {
  border-right: none;
}